<div>
    <nav class="navbar navbar-expand-lg bg-white m-0 p-0">
        <div class="container-fluid">
            <a class="navbar-brand">
                <img src="assets/images/LogoBeaFrance.png" class="img-fluid logo">
            </a>
        </div>
    </nav>
    <div class="container d-flex flex-column justify-content-center align-items-center text-center content-container vh-90">
        <img src="assets/images/siteConstruction.png" class="img-fluid mb-2 construction-image">
        <h4 class="mt-2 user-select-none">Notre site est en construction. Merci de votre patience, à très bientôt !</h4>
    </div>
</div>
