.logo {
    max-height: 120px;
}

.construction-image {
    max-height: 320px;
}

@media (min-width: 992px) {
    .logo {
        max-height: 160px;
    }
}

@media (max-width: 991px) {
    .construction-image {
        margin-top: 5rem;
    }
}